/* Classe base Ls-Radio */
.ld-radio{
    position: relative;
    padding-left: 32px;
    padding-top: 1px;
    cursor: pointer;
    font-size: calc(var(--ld-font-size-base) + 8px);
    font-family: var(--ld-font-family-base);
}

/* Esconde o radio Button Nativo do Browser */
.ld-radio > input{
    opacity: 0;
    position: absolute; /* será absuluto ao nada para que não interfira em qualquer espasamento */
    cursor: pointer; /* Aparecer a mãozinha sempre que passar o mouse*/
}

/* Estilo Base do Checkmark */
.ld-radio >.checkmark{
    display: inline-block; /*alterar comportamento do display SPAN*/
    border-radius: 50%; /*Arredondar bordas*/
    height: 22px; /*altura*/
    width: 22px; /*largura*/
    border: 2px solid var(--ld-color-gray-dark);
    position: absolute;
    top: 0;
    left: 0;
}

/* Estiliza e preenche o fundo do checkmark quando radiobutton é checado */
.ld-radio >input:checked ~ .checkmark{
    background-color: white;
    border-color: var(--ld-color-primary);
}

/* Estilo Base do Ponto do Checkmark */
.ld-radio >.checkmark:after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    background-color: var(--ld-color-primary);
    display: none;
}

/* Mostrar ponto quanto radio button for checado*/
.ld-radio >input:checked ~.checkmark::after{
    display: block;
}


